body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(229 231 235);
}

img {
  max-width: 100%;
  margin: auto;
}

.block__content p {
  line-height: 1.6;
  margin-bottom: 25px;
}

.block__content h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 10px 0 20px;
}

/* ANIMATION QUOTE */
.quote-container {
  position: relative;
  width: 95%;
  height: 4.5em;
  margin: 0.5em auto 2.4em;
  overflow: hidden;
}

.quote-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.quote-text p {
  color: #333;
}

.quote-container {
  position: relative;
}

.quote-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  text-align: center;
}

.quote-text.opacity-100 {
  opacity: 1;
}

/* ANIMATION CATEGORY  */
.category-container {
  position: relative;
  width: 95%;
  height: 1.6em;
  margin: 0.2em auto 1.5em;
  overflow: hidden;
}

.category-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.category-container {
  position: relative;
}

.category-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  text-align: center;
}

.category-text.opacity-100 {
  opacity: 1;
}

@media (min-width: 768px) {
  img.blog__image {
    height: 600px;
    width: 100%;
  }

  .block__content p {
    font-size: 18px;
  }
}
